@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url('./KannLink.scss');
@import url('./KannButton.scss');

:root {
	font-family: 'Roboto', sans-serif;
}

.fs-14 {
	font-size: 14px;
}

.fs-15 {
	font-size: 15px;
}

.ls-03 {
	letter-spacing: 0.3px;
}
