.section {
	padding: 0 1rem;
	&__link {
		align-self: flex-end;
		position: absolute;
	}
	&--bg-img {
		background-image: url('../images/bg-full.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	&--min-height-80 {
		min-height: 80vh;
	}
	&--content-center {
		align-items: center;
	}
	&--content-space-between {
		justify-content: space-between;
	}
}
