.section {
	display: grid;
	padding: 0 1rem;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(5, 1fr);
	&--bg-img {
		background-image: url('../images/bg-full.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	&--min-height-70 {
		min-height: 70vh;
	}
	&--max-height-90 {
		max-height: 90vh;
	}
	&__grid-element {
		&--rows-full {
			grid-row-start: 1;
			grid-row-end: 6;
		}
		&--rows-center-3 {
			grid-row-start: 2;
			grid-row-end: 5;
		}
		&--column-start-4 {
			grid-column: span 4;
		}
		&--column-start-6 {
			grid-column: span 6;
		}
		&--column-start-7 {
			grid-column: span 7;
		}
		&--column-end-4 {
			grid-column-start: 13;
			grid-column-end: 9;
		}
		&--column-end-7 {
			grid-column-start: 13;
			grid-column-end: 6;
		}
	}
	&__flex-element {
		display: flex;
		&--vertical {
			flex-direction: column;
		}
		&--ai-center {
			align-items: center;
		}
		&--jc-center {
			justify-content: center;
		}
		&--relative {
			position: relative;
		}
	}
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__link {
		&--pos-abs {
			position: absolute;
		}
		&--b-0 {
			bottom: 0;
		}
		&--end {
			align-self: flex-end;
		}
		&--start {
			align-self: flex-start;
		}
	}
}
